.menu {
	background-color: #EEEEEE;
	width: 120px;
	height: 880px;
	border-right: 1px solid #7A7A7A;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	padding: 10px;
	float: left;
	margin-right: 20px;
}
.menu2 {
	background-color: #EEEEEE;
	width: 120px;
	height: 880px;
	border-left: 1px solid #7A7A7A;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	padding: 10px;
	float: right;
}
.leMenu {
	width: 120px;
}
ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
}
li {
	border-bottom: 1px solid #7A7A7A;
}
li, a {
	color: #000;
	text-decoration: none;
}
li:hover {
	background-color: #E4E4E4;
}
a:hover {
	color: #3F5765;
}
.infoMenu {
	font-size: 10px;
	line-height: 10px;
	color: #7a7a7a;
	margin-bottom: 5px;
}
